body {
   font-family: 'Arial', sans-serif;
   font-size: 16px;
   background-color: #000;
   color: #FFF;
}

h1,
h2 {
   font-weight: bold;
}

a {
   color: #FFF;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

input,
textarea {
   padding: 10px;
   display: block;
}