openapi: 3.0.4
info: 
  title: Users API
  description: Simple CRUD for User management.
  version: 1.0.0

servers: 
  - url: http://localhost:3001
    description: Development server
  - url: http://site.com
    description: Production server

components: 
  securitySchemes: 
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas: 
    User:
      type: object
      properties: 
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john.doe@example.com

tags:
  - name: Health
    description: Testing API availability
  - name: Users
    description: User management endpoints

paths:
  /ping:
    get:
      tags: 
        - Health
      summary: Test API Health
      responses: 
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  pong:
                    type: boolean
                    example: true

  /users:
    get:
      tags: 
        - Users
      summary: Listt all users
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Page number for pagination
          schema:
            type: integer
            example: 1
        - name: search
          in: query
          description: Search by name 
          schema:
            type: string
            example: John
      responses: 
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: 
                    type: string | null
                    example: null
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        
    post:
      tags: 
        - Users
      summary: Create a new user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  example: john.doe@example.com
      responses: 
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: 
                    type: string | null
                    example: null
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

  /users/{id}:
    get:
      tags: 
        - Users
      summary: Get user by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: integer
            example: 1
      responses: 
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: 
                    type: string | null
                    example: null
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        '404':
          description: User not found

    put:
      tags:
        - Users
      summary: Update an user
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  example: john.doe@example.com
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: 
                    type: string | null
                    example: null
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        '404':
          description: User not found
    
    delete:
      tags:
        - Users
      summary: Delete user by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: integer
            example: 1
      responses:
        '204':
          description: User deleted successfully
        '401':
          description: Unauthorized