{% load static %}
<!DOCTYPE html>
<html lang="pt-bri">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'tarefas/style.css' %}">
   <title>{% block title %}Título Padrão{% endblock %}</title>
</head>

<body>
   <header>
      <h1>Cabeçalho</h1>

      <nav>
         <a href="{% url 'home' %}">Home</a>

         {% if perms.tarefas.add_tarefa %}
            <a href="{% url 'adicionar' %}">Adicionar Tarefa</a>
         {% endif %}
      </nav>

      <div>
         {% if user.is_authenticated %}
            <p>Olá {{ user.username }}!</p>

            <form method="post" action="{% url 'logout' %}">
               {% csrf_token %}
               <button type="submit">Sair</button>
            </form>

         {% else %}
            <form method="post" action="{% url 'login' %}">
               {% csrf_token %}

               <button type="submit">Entrar</button>
            </form>
         {% endif %}
      </div>
      <hr />
   </header>

   {% block corpo %}
   {% endblock %}
</body>

</html> 