# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/

# editor / OS
.vscode/
.idea/
.DS_Store